$color-header: #efbb35;
$color-text: #bcb9b7;
#blog_page-detail {
  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
    color: $color-header !important;
  }

  font-family: Nunito, sans-serif !important;
  .ql-container {
    font-family: Nunito, sans-serif !important;
    font-size: 16px;
  }

  button.ql-video {
    width: 10px !important;
    height: 10px !important;
    min-height: 25px !important;
  }
  .ql-align-center {
    margin-top: 8px;
    text-align: center !important;
    font-weight: 200;
    opacity: 0.7;
    font-size: 14px;
    strong {
      color: #d8d4d2;
    }
  }
  .ql-picker-label,
  .ql-picker-options > span {
    color: #1e1414 !important;
    font-size: 16px;
    font-weight: 300;
    z-index: 100;
  }
  .ql-picker-options {
    z-index: 999 !important;
    background-color: white;
    opacity: 1 !important;
  }
  .ql-syntax {
    overflow-wrap: break-word;
    max-width: max-content;
    overflow-x: auto;
    background-color: #011626;
    padding: 4px 16px;
    &::-webkit-scrollbar {
      width: 4px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(12, 7, 85) !important;
      border-radius: 12px;
    }
    &::-webkit-scrollbar-track {
      background-color: gray;
    }
  }
  a {
    color: #58a6ff;
    font-weight: 300;
    text-decoration: none;
    word-break: break-word;
    white-space: break-spaces;
    &:hover {
      color: #f59bac !important;
    }
  }

  ul {
    padding-left: 32px;
    list-style: disc;
    display: block;

    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

    li {
      display: list-item;
      text-align: -webkit-match-parent;
      &::marker {
        color: #e29218 !important;
      }
    }
  }
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid #555555;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 1.17rem !important;
  }
  h4 {
    font-size: 1rem !important;
  }
  h5 {
    font-size: 0.83rem !important;
  }
  h6 {
    font-size: 0.67rem !important;
  }
  p {
    padding: 0 !important;
    color: #bcb9b7;
    line-height: 2;
    font-size: 1rem;
  }

  li,
  span {
    padding: 2px 0;
    color: #bcb9b7;
  }
  strong {
    color: #c9c8c7;
    font-weight: 700 !important;
  }
  .ql-video {
    width: 100%;
    min-height: 500px;
  }
  p:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;

    img {
      width: 600px;
      height: auto !important;
    }
  }
}
.menu {
  a {
    color: #3e97d5;
    font-weight: 400;
    text-decoration: none;
    word-break: break-word;
    &:hover {
      color: #f59bac !important;
    }
  }
  .last_child {
    color: rgb(177, 176, 176);
  }
  .datetime {
    color: rgb(177, 176, 176);
  }
}

.menu-drop_parent {
  &:hover {
    .menuDrop {
      display: flex !important;
    }
  }
}

.menuDrop {
  padding: 4px 8px;
  border-radius: 4px;
  li {
    font-size: 1.1rem !important;
    font-weight: 400 !important;
    &:hover {
      color: #f59bac !important;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 640px) {
  #blog_page-detail {
    h1 {
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    .ql-video {
      min-height: 300px;
    }
    .ql-syntax {
      font-size: 16px;
    }
    ul,
    p {
      font-weight: 200 !important;
      color: #dbd7d5;
      img {
        width: 100%;
      }
    }
  }

  .menu_moblie {
    .menu_main__container {
      padding: 8px 12px;

      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #222831;
      display: none;
      flex-direction: column;
      ul {
        width: 100% !important;
        padding: 12px 16px;
        gap: 16px;
      }
    }
  }

  #openmenu:checked ~ .menu_moblie {
    display: block !important;

    .menu_main__container {
      display: flex !important;
      box-shadow: 0 1px 3px #4c4949;
    }
  }
}
header {
  li {
    &:hover {
      color: #f59bac !important;
    }
    a,
    span {
      font-family: Nunito, sans-serif;
      font-size: 1.125rem;
      line-height: 32px;
      font-weight: 400;
      color: antiquewhite;
    }
  }
}
.scroolbar {
  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e1f533;
    border-radius: 100rem;
  }
  &::-webkit-scrollbar-track {
    background-color: #262626;
  }
}
table {
  th {
    white-space: nowrap;
  }
}
