body {
  font-size: 1.125rem;
  line-height: 32px;
  color: #dbd7d5;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #222831;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  font-family: "Inter", Nunito, sans-serif;
}
$color-header: #efbb35;
$color-text: #bcb9b7;
#blog_page-detail {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-header;
    > a {
      color: $color-header;
      font-size: auto;
    }
    span,
    strong,
    code {
      color: auto;
      font-size: auto;
    }
  }
  blockquote {
    border-left: 4px solid #85670e;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
    font-size: 1rem !important;
  }
  .ql-container {
    font-family: "Inter", Nunito, sans-serif !important;
    font-size: 16px;
    li {
      display: list-item;
      text-align: -webkit-match-parent;
      &::before {
        color: $color-header;
      }
    }
  }

  button.ql-video {
    width: 10px;
    height: 10px;
    min-height: 25px;
  }
  .ql-align-center {
    margin-top: 8px;
    text-align: center;
    font-weight: 200;
    opacity: 0.8;
    font-size: 14px;
    strong {
      color: #d8d4d2;
    }
  }
  .ql-picker-label,
  .ql-picker-options > span {
    color: #1e1414;
    font-size: 16px;
    font-weight: 400;
    z-index: 100;
  }
  .ql-picker-options {
    z-index: 999;
    background-color: white;
    opacity: 1;
  }
  .ql-size-huge {
    font-size: 2.5rem !important;
  }
  .ql-size-small {
    font-size: 0.75rem !important;
  }
  .ql-size-large {
    font-size: 1.5rem !important;
  }
  .ql-syntax {
    overscroll-behavior-x: contain;
    overflow-wrap: break-word;
    max-width: max-content;
    overflow-x: auto;
    background-color: #011626;
    white-space: pre;
    padding: 4px 16px;
    &::-webkit-scrollbar {
      width: 4px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(12, 7, 85);
      border-radius: 12px;
    }
    &::-webkit-scrollbar-track {
      background-color: gray;
    }
  }
  a {
    color: #58a6ff;
    font-weight: 300;
    text-decoration: none;
    word-break: break-word;
    white-space: break-spaces;
    &:hover {
      color: #f59bac;
    }
  }

  ul {
    list-style: disc;
    font-size: 17px;
  }
  ol {
    list-style-type: decimal;
    font-size: 17px;
  }
  ul,
  ol {
    padding-left: 32px;
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    li {
      display: list-item;
      text-align: -webkit-match-parent;
      &::marker {
        color: #e29218;
        background-color: #e29218;
      }
    }
  }
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid #555555;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 1.17rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.83rem;
  }
  h6 {
    font-size: 0.67rem;
  }
  p,
  ol,
  ul {
    color: #bfbebd;
    line-height: 32px;
    font-weight: 400;
  }
  p {
    text-align: justify;
    font-size: 18px;
  }
  li,
  span {
    padding: 2px 0;
    color: #bcb9b7;
  }
  strong {
    color: #c9c8c7;
    font-weight: 600;
  }
  .ql-video {
    width: 100%;
    min-height: 500px;
  }
  p:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;

    img {
      width: 600px;
      height: auto;
    }
  }
}
.menu {
  a {
    color: #3e97d5;
    font-weight: 400;
    text-decoration: none;
    word-break: break-word;
    &:hover {
      color: #f59bac;
    }
  }
  .last_child {
    color: rgb(177, 176, 176);
  }
  .datetime {
    color: rgb(177, 176, 176);
  }
}

.menu-drop_parent {
  &:hover {
    .menuDrop {
      display: flex;
    }
  }
}

.menuDrop {
  padding: 4px 8px;
  border-radius: 4px;
  li {
    font-size: 1.1rem;
    font-weight: 400;
    &:hover {
      a {
        color: #f59bac;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #blog_page-detail {
    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 1.6rem;
    }
    .ql-video {
      min-height: 300px;
    }
    .ql-syntax {
      font-size: 16px;
    }
    ul,
    ol,
    p {
      color: #dbd7d5;
      font-weight: 300 !important;
      img {
        width: 100%;
      }
    }
  }

  .menu_moblie {
    .menu_main__container {
      padding: 8px 12px;

      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #222831;
      display: none;
      flex-direction: column;
      ul {
        width: 100%;
        padding: 12px 16px;
        gap: 16px;
      }
    }
  }

  #openmenu:checked ~ .menu_moblie {
    display: block;

    .menu_main__container {
      display: flex;
      box-shadow: 0 1px 3px #4c4949;
    }
  }
}
header {
  li {
    &:hover {
      color: #f59bac;
    }
    a,
    span {
      font-family: Nunito, sans-serif;
      font-size: 1.125rem;
      line-height: 32px;
      font-weight: 400;
      color: antiquewhite;
    }
    a {
      &:hover {
        color: #f59bac;
      }
    }
  }
}
.scroolbar {
  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e1f533;
    border-radius: 100rem;
  }
  &::-webkit-scrollbar-track {
    background-color: #262626;
  }
}
table {
  th {
    white-space: nowrap;
  }
}
@media screen and (max-width: 768px) {
  #blog_page-detail {
    .ql-container {
      font-size: 16px;
      li {
        font-size: 16px;
      }
    }
    ul,
    p,
    span {
      color: #dbd7d5;
      font-weight: 300;
    }
  }
}
