html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: Nunito, sans-serif;
  font-size: 1.125rem;
  line-height: 32px;
  color: #ffffff;
  overflow-x: hidden;
  background-color: #222831;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
#blog_page-detail {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #efbb35;
  }
  p {
    color: #bcb9b7;
    line-height: 2;
    font-weight: 200;
    text-align: justify;
  }
  font-family: Nunito, sans-serif !important;
  .ql-container {
    font-family: Nunito, sans-serif !important;
    font-size: 16px;
  }
  .ql-align-center {
    text-align: center !important;
    font-weight: 200;
    opacity: 0.7;
    font-size: 14px;
  }

  .ql-syntax {
    overflow-wrap: break-word;
    max-width: max-content;
    overflow-x: scroll;
    background-color: #011626;
    padding: 8px 16px !important;
    &::-webkit-scrollbar {
      width: 4px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(12, 7, 85) !important;
      border-radius: 12px;
    }
    &::-webkit-scrollbar-track {
      background-color: gray;
    }
  }
  a {
    color: #58a6ff;
    font-weight: 300;
    text-decoration: none;
    word-break: break-word;
    white-space: break-spaces;
    &:hover {
      color: #f59bac !important;
    }
  }
  h1 {
    font-size: 1.8rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
  }
  h3 {
    font-size: 1.17rem !important;
  }
  ul {
    padding-left: 32px;
    list-style: disc;
    display: block;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

    li {
      display: list-item;
      text-align: -webkit-match-parent;
      &::marker {
        color: #e29218 !important;
      }
    }
  }
  h4 {
    font-size: 1rem !important;
  }
  h5 {
    font-size: 0.83rem !important;
  }
  h6 {
    font-size: 0.67rem !important;
  }
  li {
    color: #bcb9b7;
  }
  p {
    margin-bottom: 8px;
  }

  p:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;

    img {
      width: 600px;
      height: auto !important;
    }
  }
}
@media screen and (max-width: 640px) {
  p {
    img {
      width: 100% !important;
    }
  }
}
