#blog_page-detail {
  font-family: Nunito, sans-serif !important;
  .ql-container {
    font-family: Nunito, sans-serif !important;
    font-size: 16px;
  }
  .ql-syntax {
    overflow-wrap: break-word;
    max-width: max-content;
    overflow-x: scroll;
    background-color: #011626;
    padding: 8px 16px !important;
    &::-webkit-scrollbar {
      width: 4px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(12, 7, 85) !important;
      border-radius: 12px;
    }
    &::-webkit-scrollbar-track {
      background-color: gray;
    }
  }
  a {
    color: #58a6ff;
    font-weight: 300;
    text-decoration: none;
    word-break: break-word;
    white-space: break-spaces;
    &:hover {
      color: #f59bac !important;
    }
  }
  h1 {
    font-size: 2rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
  }
  h3 {
    font-size: 1.17rem !important;
  }
  ul {
    padding-left: 32px;
    list-style: disc;
    display: block;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

    li {
      display: list-item;
      text-align: -webkit-match-parent;
      &::marker {
        color: #e29218 !important;
      }
    }
  }
  h4 {
    font-size: 1rem !important;
  }
  h5 {
    font-size: 0.83rem !important;
  }
  h6 {
    font-size: 0.67rem !important;
  }
  li {
    color: #bcb9b7;
  }
  p {
    margin-bottom: 8px;
  }
  p:has(img) {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    font-size: 14px;
    img {
      width: 600px;
      height: auto !important;
    }
  }
}
@media screen and (max-width: 640px) {
  p {
    img {
      width: 100% !important;
    }
  }
}
