@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: Nunito, sans-serif;
  font-size: 1.125rem;
  line-height: 32px;
  color: #ffffff;
  overflow-x: hidden;
  background-color: #222831;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.text-color-read,
p,
ul {
  color: #bcb9b7;
  line-height: 2;
  font-weight: 200;
  text-align: justify;
}
.text-color-head,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #efbb35;
  padding-bottom: 10px;
}
h1 {
  font-size: 1.8rem;
  line-height: 40px;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
.MuiBreadcrumbs-separator {
  color: #ffffff !important;
}
.menu > a {
  color: #58a6ff;
  font-weight: 300;
  text-decoration: none;
  word-break: break-word;
}
.menu > a:hover {
  color: #f59bac !important;
}
.panation ul li button {
  color: #ffffff !important;
}
.panation ul li div {
  color: #ffffff !important;
}
.nav-item.nav-link {
  color: #f59bac !important;
}
article h2 {
  font-size: 1rem !important;
}
.ql-toolbar.ql-snow {
  background-color: #ffffff;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 1.05rem;
  }
  p,
  ul {
    line-height: 1.8;
    font-weight: 200 !important;
  }
  h1 {
    font-size: 1.7rem;
    line-height: 30px;
  }
  h2 {
    font-size: 1.4rem;
  }
}
