@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", Nunito, sans-serif;
  font-size: 1.125rem;
  line-height: 32px;
  color: #dfdada;
  overflow-x: hidden;
  background-color: #222831;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;

}
::selection {
  background-color: #0765d6 !important;
  -webkit-user-select: none;
  user-select: none;
  color: #ffff !important;
}
.text-color-head,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #efbb35;
  padding-bottom: 10px;
}
h1 {
  font-size: 2.2rem;
  line-height: 40px;
}
h2 {
  font-size: 1.7rem;
}
h2.haveunline {
  font-size: 1.7rem;
  border-bottom: 2px solid #555555;
  padding-bottom: 10px;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
.MuiBreadcrumbs-separator {
  color: #ffffff !important;
}

.panation ul li button {
  color: #ffffff !important;
}
.panation ul li div {
  color: #ffffff !important;
}
.nav-item.nav-link {
  color: #f59bac !important;
}

.ql-toolbar.ql-snow {
  background-color: #ffffff;
  position: relative;
  z-index: 98;
}
.text-color-read,
p,
ul,
ol {
  color: #bfbebd;

  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}
p {
  text-align: justify;
}
ol li::marker,
ul li::marker {
  background-color: #e29218;
  color: #e29218;
}
@media screen and (max-width: 768px) {
  footer p {
    font-size: 14px !important;
  }
  body {
    font-size: 1.05rem;
    line-height: 30px;
    font-weight: 300;
  }
  ul,
  p,
  span {
    color: #dbd7d5;
    font-weight: 300;
  }
  h1 {
    font-size: 1.9rem;
    line-height: 36px;
  }
  h2 {
    font-size: 1.6rem;
    line-height: 32px;
  }
}
.menu a {
  color: #3e97d5;
  font-weight: 400;
  text-decoration: none;
  word-break: break-word;
}
.menu a:hover {
  color: #f59bac;
}
.last_child {
  color: rgb(177, 176, 176);
}
.datetime {
  color: rgb(177, 176, 176);
}
#author_write {
  font-size: 14px !important;
  color: #cfc2c2 !important;
}
